.followUp_head{
    display: flex;
    background: #ffffff
}
.followUp_head_one{
    padding: .4rem;
    color:#b2b2b2;
    font-size: .4rem;
}
.followUp_head_one span{
    color: #3a3a3a
}
.followUp_content{
    margin-top: .4rem;
    background: #ffffff
}
.promise_bnt_doc{
    border: 1px solid #3386fa;
    color: #0067f4;
    background: #fffdef
}
.gray_bnt{
    border: 1px solid #eeeeee;
    color: #8198ae;
}