 
 .report_row{
     min-height: 100vh;
     background: #ffffff;
     padding: .8rem;
 }
 .order_title_info {
   display: inline-block;
   font-size: 0.35rem;
   color: #5f656b;
   line-height: 0.65rem;
   width: 26%;
 }