.allSelect{
    line-height: 2rem
}
.share_bnt{
    float: right;
    height: 1rem;
    line-height: 1rem;
    color: #7f96ad;
    border: 1px solid #7f96ad;
    margin-top: calc(.5rem - 1px);
    margin-right: 15px;
    border-radius: .5rem;
    padding: 0 .2rem
}