.slot{
    width: .2rem;
    height: .2rem;
}
.am-steps-item-finish .am-steps-item-tail:after{
    background-color: #f6c04d
}
.logistics_title_now{
    font-size: .4rem;
    color: #f6c04d;
}
.logistics_title{
    font-size: .4rem;
    color: #444444;
}