.myDoctor_bnt{
    font-size: .4rem;
    padding: .4rem .8rem;
    text-align: center
}
.myDoctor_bnt_img{
    height: .8rem;
    width: .8rem;
    margin: 0 auto;
}
.myDoctor_bnt_text{
    color: #404040;
    height: 1rem;
    line-height: 1rem;
}
.myDoctor_bnt_text_select{
    color: #ffcb5c;
    height: 1rem;
    line-height: 1rem;
}
.myDoctor_bnt_list{
    border-bottom: 1px solid #eeeeee
}