.type_bnt_row{
    margin: 0 .4rem;
    height: 1rem;
    line-height: 1rem;
    background: #f2f2f2;
    padding: 0 .6rem;
    border-radius: .5rem
}
.type_bnt_row_selecttt{
    //margin: 0 .4rem;
    height: 1rem;
    line-height: 1rem;
    background: #dbf0f0;
    color: #0d9d97;
    padding: 0 .6rem;
    //border-radius: .5rem;
    width: 33%;
    float:left;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
    -webkit-animation: showTypeBnt .5s linear ;
    -moz-animation: showTypeBnt .5s linear ;
    -o-animation: showTypeBnt .5s linear ;
    animation: showTypeBnt .5s linear ;
}
.type_bnt_row_select_doctor{
    margin: 0 .4rem;
    height: 1rem;
    line-height: 1rem;
    background: #0067f4;
    color: #fff;
    padding: 0 .6rem;
    border-radius: .5rem;
    -webkit-animation: showTypeBntDoc .5s linear ;
    -moz-animation: showTypeBntDoc .5s linear ;
    -o-animation: showTypeBntDoc .5s linear ;
    animation: showTypeBntDoc .5s linear ; 
}
//@keyframes showTypeBntDoc {
//    from{ background: #f2f2f2;
//    }
//    to{background: #0067f4;}
//}
//@keyframes showTypeBnt {
//    from{ background: #f2f2f2;
//    }
//    to{
//        //background: #ffcb5c;
//        background: transparent;
//    }
//}