.home-bnt-item-row{
   flex:1;
   .icon-home-bnt{
        margin: 0 auto;
   }
   p{
    font-size: 10px;
    margin: 3px 0 0;
    line-height: 1;
    text-align: center;
    // color: rgb(148, 148, 148);
   }
}