.myPetient_list{
    padding: .4rem;
}
.petient_sex{
    height: 1rem;
}
.petient_sex img{
    margin-top: .2rem;
    height: .6rem;
    width: .6rem;
}
.petient_name{
    padding: 0 .1rem;
    font-size: .45rem;
    line-height: 1rem;
}
.petient_content{
    font-size: .35rem;
    color: #bbbbbb;
    margin-left: .2rem;
    line-height: 1rem;
}
.petient_malady{
    font-size: .35rem;
    color: #bbbbbb;
    margin-left: .3rem;
    line-height: 1rem;
}